*{
    margin: 0rem;
    padding: 0;
    box-sizing: border-box; 
    
    }

    body{
    overflow: auto;
    background-color: var(--color3);
}

    html{
        font-family: 'Quicksand', sans-serif;
    }

    
 
        :root {
            --color1: #BF9411;
            --color2: #D1954D;
            --color3: #EDDECD;
            --color4: #5A0000;
            --color5: #AD172B;
            --color6: #ffffff;
        
        }
    